//
// variables
//
// saved variables for reuse

$COLOR_SEAGREEN: #f0f4f4;
$COLOR_PINK: #f2e5ee;
$COLOR_WHITE: #FFF;

$PAD: 15px;

$BREAK_MOBILE: "(max-width : 639PX)";
$BREAK_TABLET: "(min-width : 640px)";
$BREAK_DESKTOP: "(min-width : 800PX)";
